.errorMessage {
  width: 100%;
  display: flex;
  align-items: center;
  color: orangered;
  font-size: 1rem;
  margin-top: 0.5rem;
  transition: all 0.35s ease;
  img {
    filter: invert(18%) sepia(89%) saturate(7515%) hue-rotate(-15deg) brightness(91%) contrast(122%);
    margin-right: 0.5rem;
  }
}
