* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --white: #fff;
    --black: #000;

    --blue: #1a3d6c;
    --gray: #efefef;
    --gray-100: #e1e1e6;
    --gray-200: #d3d3d3;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;

    --green-300: #00B37E;
    --green-500: #00875e;

    --orange: #ff9900;
    --orange-600: #d48714;

    --red-500: #F75A68;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--orange);
}

body {
    background-color: var(--white);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}