.listUsers {
    box-sizing: border-box;
    margin: 1.25rem auto;
    padding: 1.25rem;

    width: 100%;
    max-width: 1200px;

    h1 {        
        color: var(--white);
        font-size: 2.5rem;
        font-weight: 400;

        margin-bottom: 1.25rem;
        text-align: center;
        text-transform: uppercase;
    }
}


@media only screen and (max-width: 1024px) {
    .listUsers {
        h1 {
            font-size: 2rem;
        }
    }
}
